<div class="container">
  <div>
    <h1>Pessoas</h1>
  </div>

  <div>
		<div class="p-fluid">
			<label>Nome</label>
			<input pInputText type="text" placeholder="Informe um nome para a consulta." />
    </div>
  </div>

  <div class="button-form">
    <button pButton type="submit" label="Pesquisar" icon="pi pi-search"></button>
  </div>

  <div class="p-fluid tabela-pesquisa">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">

      </ng-template>

      <ng-template pTemplate="right">
          <button pButton pRipple label="Nova Pessoa" icon="pi pi-plus" class="p-button-primary"></button>
          <!-- <a pButton label="Novo lançamento" class="p-button-success" icon="pi pi-plus"></a> -->
      </ng-template>
  </p-toolbar>

    <p-table [value]="pessoas" [paginator]="true" [rows]="5" responsiveLayout="stack">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Status</th>
          <th class="header-button"> - </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cidade}}</td>
          <td>{{pessoa.estado}}</td>
          <td class="col-status" pTooltip="{{pessoa.status === true ? 'Inativar' : 'Ativar'}}" tooltipPosition="left"><a href="">{{pessoa.status === true ? 'Ativo' : 'Inativo'}}</a></td>
          <td class="col-button">
            <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="p-button-rounded p-button-success"></button>
            <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" class="p-button-rounded p-button-danger button-remover"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
