/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
  padding-top: 10px;
}

.container {
  margin: 40px;
}

.p-selectbutton {
  max-width: 200px !important;
}

.p-dropdown {
  margin-top: 5px !important;
}

.button-form {
  margin-top: 20px !important;
}

.button-remover {
  margin-left: 5px !important;
}

.p-inputtext {
  margin-top: 5px !important;
}

.tabela-pesquisa {
  margin-top: 20px;
}

.header-button {
  text-align: center !important;
}

.col-button {
  text-align: center !important;
  padding: 10px;
}
