<nav class="navbar">
  <div class="container-navbar">
    <div class="col-12">
      <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Yehia Azanki</li>
    <li class="navbar-menuitem"><a href="#">Lançamentos</a></li>
    <li class="navbar-menuitem"><a href="#">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="#">Categorias</a></li>
    <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>
</nav>
