<div class="p-fluid tabela-pesquisa">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">

    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple label="Novo Lançamento" icon="pi pi-plus" class="p-button-primary"></button>
        <!-- <a pButton label="Novo lançamento" class="p-button-success" icon="pi pi-plus"></a> -->
    </ng-template>
</p-toolbar>

  <p-table [value]="lancamentos" [paginator]="true" [rows]="5" responsiveLayout="stack">
    <ng-template pTemplate="header">
      <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Pagamento</th>
        <th class="header-tipo">Tipo</th>
        <th class="header-valor">Valor</th>
        <th class="header-button"> - </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-lancamento>
      <tr>
        <td>{{lancamento.pessoa}}</td>
        <td>{{lancamento.descricao}}</td>
        <td class="col-data">{{lancamento.dataVencimento | date:'dd/MM/y'}}</td>
        <td class="col-data">{{lancamento.dataPagamento | date:'dd/MM/y'}}</td>
        <td class="col-tipo">{{lancamento.tipo}}</td>
        <td class="col-valor"><span [ngStyle]="{color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lancamento.valor | currency:'BRL':'R$':'1.2-2'}}</span></td>
        <td class="col-button">
          <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="p-button-rounded p-button-success"></button>
          <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" class="p-button-rounded p-button-danger button-remover"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
